<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sailor_Hang_Hae</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/order-check.css}">
</head>
<body>
<!-- header -->
<header class="header">
    <div class="header-left">
        <img th:src="@{/images/logo.png}" class="logo" />
    </div>
    <div class="header-center">
        <form class="input-form">
            <input
                    class="input"
                    type="search"
                    id="searchQuery"
                    placeholder="주변 맛집을 검색해 보세요"
            />
            <button class="input-button">검색</button>
        </form>
    </div>
    <div class="header-right">
        <nav class="menu">
            <span class="menu-button">SIGN UP</span>
            <span class="menu-button">SIGN IN</span>
        </nav>
    </div>
</header>

<!-- main -->
<main>
    <div class="main-background">
        <h1 class="order-introduce">현재까지 들어온 주문입니다.</h1>
        <div class="order-container">
            <!-- 주문 확인 카드 -->
<!--            주문자 주소, 주문자 닉네임, 주문자 전화번호, 주문 메뉴 리스트, 주문 상태 변환하는 버튼-->
            <div class="order-card" th:each="orderCheck : ${orderCheckList}" th:attr="storeId = ${orderCheck.store.storeId}">
                <h4 th:text="${orderCheck.customer.nickname}" class="order-nickname">
                    닉네임
                </h4>
                <h3 th:text="${orderCheck.customer.address}" class="order-address">
                    주소
                </h3>
                <p th:text="${orderCheck.customer.phone}" class="order-info">주문자 전화번호</p>
                <p th:text="${orderCheck.totalPrice}" class="order-info">결제 금액</p>
<!--                <p class="order-info">주문 메뉴 리스트</p>-->
<!--                <ul class="order-menu" th:each="menu : ${orderCheck.orderMenuList}">-->
<!--                    <span th:text="${menu.menuName}"></span> - <span th:text="${menu.price}"></span>-->
<!--                </ul>-->
<!--                메뉴 리스트도 넣을까...?-->
            </div>
        </div>
    </div>
</main>
</body>
</html>

<!--OrderMenu를 기반으로 정보 조회 시켜야 할듯-->

<!--<h1 class="store-introduce">원하시는 매장을 찾아보세요</h1>-->
<!--<div class="store-container">-->
<!--    &lt;!&ndash; 매장 카드 &ndash;&gt;-->
<!--    <div class="store-card" th:each="store : ${stores}", th:attr="storeId = ${store.storeId}">-->
<!--        <div class="store-img-cover">-->
<!--            <img th:src="@{/images/logo.png}" class="store-img"/>-->
<!--        </div>-->
<!--        <h3 th:text="${store.storeName}" class="store-info">가게명</h3>-->
<!--        <p th:text="${store.phone}" class= "store-info">전화번호</p>-->
<!--        <p th:text="${store.address}" class="store-info">주소</p>-->
<!--    </div>-->
<!--</div>-->