<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <style>
        .order-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            width: 300px;
            cursor: pointer;
        }

        .order-card:hover {
            background-color: #f0f0f0;
        }

        .order-button {
            /* display: none; */ /* 숨겨진 상태 제거 */
        }
    </style>
</head>
<body>
<h1>Order List</h1>

<div th:each="order : ${orders}">
    <!-- 주문 카드 -->
    <div class="order-card" th:id="'orderCard_' + ${order.orderId}" th:onclick="'redirectToOrderDetail(' + ${order.orderId} + ')'">
        <input type="hidden" th:value="${order.orderId}">
        <!-- 주문 내용 -->
        <br>
        <span th:text="${'Order Date: ' + #temporals.format(order.orderDateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        <br>
        <span th:text="${'Total Price: ' + order.totalPrice}"></span>
        <br>
        <span th:text="${'Status: ' + (order.status.toString() == 'PAY_COMPLETE' ? '결제 완료' : (order.status.toString() == 'COOKING' ? '조리 중' : (order.status.toString() == 'DELIVERY_COMPLETE' ? '배달 완료' : '주문 미완료'))) }"></span>
        <!-- 결제가 정상적으로 이루어지지 않았을 경우 주문하기 버튼 표시 -->
        <button class="order-button" th:if="${order.status.toString() == 'JUST_IN_CART'}" onclick="sendOrderId(${order.orderId})">결제하기</button>
    </div>
</div>

<script>
    // 주문하기 버튼 클릭 시 orderId를 JSON 형식으로 서버로 보내는 함수
    function sendOrderId(orderId) {
        const data = { orderId: orderId }; // JSON 데이터 생성
        const url = '/sail/order'; // 데이터를 보낼 URL
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data) // JSON 데이터 문자열로 변환하여 body에 설정
        };

        // Fetch API를 사용하여 서버로 데이터를 보냄
        fetch(url, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('주문 처리 중 오류가 발생했습니다.');
                }
                return response.json(); // JSON 형식으로 응답을 파싱하여 반환
            })
            .then(data => {
                console.log('주문이 성공적으로 처리되었습니다.', data);
                // 여기에서 필요한 추가적인 처리를 수행할 수 있습니다.
            })
            .catch(error => {
                console.error('주문 처리 중 오류가 발생했습니다.', error);
                // 오류 발생 시 처리할 내용을 여기에 추가합니다.
            });
    }
</script>

</body>
</html>
