.order-introduce {
    color: teal;
}

.order-container {
    margin: 40px auto;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5.8em;
}

.order-card {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2rem;
}

/*.store-card:hover {*/
/*    transform: scale(1.05);*/
/*    cursor: pointer;*/
/*}*/

/*.store-card:active {*/
/*    transform: scale(0.95);*/
/*    cursor: grab;*/
/*}*/

.order-nickname {
    height: 5%
}

.order-address {
    height: 10%;
}

.order-nickname,
.order-address,
.order-info {
    color: teal;
}

.order-information {
    color: teal;
    display: flex;
    flex-direction: row;
}

.order-menu {
    color: teal;
    font-size: 0.8rem
}

#orderCompleteBtn {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
}

#orderCompleteBtn:hover {
    background-color: #20a2a2;
}

#orderCompleteBtn:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}