.update-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#store-update-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    padding: 40px;
}

#store-update-form label {
    margin-bottom: 5px;
    color: teal;
}

#store-update-form input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
}

#store-update-form button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
}

#store-update-form button:hover {
    background-color: #2bafaf;
}
